@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Limelight|Open+Sans);
@import 'normalize';
 $nav-font:'PT Sans Narrow', sans-serif;
 $header-font:'Limelight', cursive;
 $copy-font:'Open Sans', sans-serif;
 $text-highlight:#993366;

/* global styles ========== */

body {
    background-image: url(/images/bg.jpg);
    font-family: $copy-font;
}
/* nav styles ============== */

nav ul {
    margin-left: -30px;
    margin-right: 20px;
}
nav ul li {
    display: inline;
    margin-left: 5px;
}
nav ul li:after {
    content: "|";
    padding: 3px;
}
nav ul li:last-child:after {
    content: "";
    padding: 3px;
}
nav ul li a {
    text-decoration: none;
    white-space: nowrap;
}
nav ul li a:hover {
    text-decoration: underline;
}
/* template styles ========== */

.wrapper {
    display: block;
    overflow: hidden;
    margin: auto;
    width: 80%;
    min-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 12px;
}
header h1 {
    font-family: $header-font;
    margin: auto;
    background: url(../images/players-logo.jpg) no-repeat;
    text-indent: -9999px;
    height: 170px;
    width: 350px;
    cursor: pointer;
}
section:nth-child(even) {
    float: left;
    width: 48%;
    padding-left: 5px;
}
.home section:nth-child(even) {
    float: left;
    width: 48%;
}
section:nth-child(odd) {
    float: right;
    width: 48%;
}
aside {
    width: 250px;
    float: right;
}
footer {
    clear: both;
    display: block;
}
/* copy text styles ========== */

strong {
    color: $text-highlight;
}
/*

li {
    list-style-image: url(../images/site_media/list_bullet.gif);
}
th {
    font-family: $font-stack;
    font-size: $standard-font;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    background-color: #993366;
}

.TblStripe1 {
    font-family: $font-stack;
    font-size: $standard-font;
    background-color: #FFCCCC;
}
.TblStripe2 {
    font-family: $font-stack;
    font-size: $standard-font;
    background-color: #FFFFFF;
}
.SpnsrShow {
    font-family: $font-stack;
    background-color: #FFCCCC;
    font-size: 16px;
    font-weight: bold;
}
.SpnsrGold {
    font-family: $font-stack;
    background-color: #CCCC00;
    font-size: 16px;
    font-weight: bold;
}
.SpnsrSilver {
    font-family: $font-stack;
    background-color: #CCCCCC;
    font-size: $standard-font;
    font-weight: bold;
}
.SpnsrBronze {
    font-family: $font-stack;
    background-color: #CC9900;
    font-size: 16px;
    font-weight: bold;
}
.LargeText {
    font-family: $font-stack;
    font-size: 16px;
}
.SmallText {
    font-family: $font-stack;
    font-size: 10px;
    text-align: right;
}
.SpnsrLogo {
    margin-left: 5px;
    margin-right: 5px;
}
.sold_out {
    font-family: Candara, Arial, Helvetica, sans-serif;
    font-size: $standard-font;
    font-weight: bold;
    color: #F00;
}
.green_title {
    color: #090;
}
#addthis {
    position: relative;
    float: right;
    width: 250px;
    margin-right: 10px;
}
#topmenu {
    position: relative;
    float: none;
    width: 830px;
    margin-top: 10px;
    margin-left: 30px;
}
#buttons {
    float: left;
    padding: 10 10 10 10;
    width: 100%;
    margin-left: 310px;
}


#contact-us {
    float: left;
    padding: 10 10 10 10;
    margin-left: 260px;
}
#donate {
    float: right;
    padding: 10 10 10 10;
    margin-right: 230px;
}*/
